<h1>Sign Up</h1>
<%= form_with model:@user,url: admin_path do |f|%>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.hidden_field :role ,value: "Admin", class: "visiblity: hide"%><br>

  <%= f.label :password %><br>

  <%= f.password_field :password_digest %><br>
  <%= f.submit %>
<%end%>
<%= link_to "Log in", "/loginAdmin" %>

